*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.hero{

    height:90vh;

    background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url("../images/solar-bg.jpg");

    background-size:cover;

    background-position:center;

    display:flex;

    align-items:center;

    color:white;

}

.hero h1{

    font-size:58px;

    font-weight:700;

}

.hero p{

    font-size:20px;

    margin:20px auto;

    max-width:700px;

}

.card{
    transition:0.3s;
    border-radius:15px;
}

.card:hover{
    transform:translateY(-10px);
}

h2{
    font-weight:700;
}

img{
    transition:0.4s ease;
}

img:hover{
    transform:scale(1.05);
}

.whatsapp{

    position:fixed;

    bottom:25px;

    right:25px;

    width:60px;

    height:60px;

    background:#25D366;

    color:#fff;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    text-decoration:none;

    box-shadow:0 8px 20px rgba(0,0,0,.3);

    z-index:999;

}